{% extends "base_pro.html" %}
{% block title %}Production{% endblock %}
{% block content %}
<p style="text-align: center;">
<strong>
<span style="font-size: 28px;">
<strong>This page includes</strong>
</span>
</strong>
</p>
<p style="text-align: center;"><strong><br></strong>
<strong><span style="font-size: 22px;">
<strong>Entering reports of each shift<br>
Readout of all completed reports<br>
Convert reports to PDF file<br>
To fill in a vacation application and print a PDF<br>
TO DO LIST applications
</strong>
</span>
</strong>
</p>
{% endblock %}
