{% extends "base_pro.html" %}

{% block title %}
REPORT
{% endblock %}
{% block content %}
{% if new %}
Report has send
{% elif updated %}
the report has been saved
{% else %}
{% if n_shift == 1 %} <h1 style="color: rgb(255, 255, 255)">SHIFT 1</h1> {% endif %}
{% if n_shift == 2 %} <h1 style="color: black">SHIFT 2</h1>  {% endif %}
{% if n_shift == 3 %} <h1 style="color: yellow">SHIFT 3</h1>  {% endif %}
<form action="." method="post">
    {{ report_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Send"></p>
</form>
{% endif %}
</body>
</html>
{% endblock %}