{% extends "base_pro.html" %}
{% block title %} Task List {% endblock %}
{% block content %}
<ul>
<li><a href="{% url "production:task_list" %}">Task list</a></li>
<li><a href="{% url "production:task_done_today" %}">Task done today</a></li>
<li><a href="{% url "production:task_done_last_week" %}">Task done last week</a></li>
</ul>
<br><br>
<form action="." method="POST">
    {{ task_form.as_table }}
    {% csrf_token %}
    <br>
    <input type="submit" value="OK">
</form>
<br>
<div >
{% for task in task_list %}
<div class="style2">

<ul>
    <li><a>{{ task.title }}</a></li>
    <li style="float: right;"><a href="{% url "production:done_task" task.id   %}">DONE</a></li>
    <li style="float: right;"><a href="{% url "production:delete_task" task.id   %}">DELETE</a></li>

    <li style="float: right;"><a>{{ task.time }}</a></li>
</ul>
<br>


{% endfor %}
</div>
{% endblock %}

<ul>
    <li><a>{{ task.title }}</a></li>
    <li style="float: right;"><a>DONE</a></li>
    <li style="float: right;"><a>DELETE</a></li>
    <li style="float: right;"><a>{{ task.time }}</a></li>
</ul>
<br>