{% extends "base_pro.html" %}
{% load tz %}
{% block title %} Task Done Today {% endblock %}
{% block content %}
<ul>
<li><a href="{% url "production:task_list" %}">Task list</a></li>
<li><a href="{% url "production:task_done_today" %}">Task done today</a></li>
<li><a href="{% url "production:task_done_last_week" %}">Task done last week</a></li>
</ul>
<br><br>
<br>
<div >
{% for task in task_list %}
<div class="style2">

<ul>
    <li style="float: left;"><a style="font-weight: bold;">{{ task.title }}  &#9989 </a></li>
    <li style="float: right;"><a>{{ task.time }} </a></li>
    <li style="float: right;"><a>DONE</a></li>
</ul>
<br>


{% endfor %}
</div>
{% endblock %}