*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;

}
header{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/7.jpg) ;
  height: 100vh;
  background-size: cover;
  background-position: center;

}

ul{

  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;

}

ul li a {

  text-decoration: none;
  color: #ffff;
  padding: 5px 20px;
  border: 1px solid transparent;

}

ul li a:hover {

  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px 20px;
  transition: 0.5s ease;

}


ul li.active a{
  color: black;
  background-color: white;
  text-decoration: none;
}

.logo {
  margin: 10px;
  padding: 25px;
  float: left;
  color: white;
  font-size: 30px;
  border-style: double;
  border: rgb(34, 109, 179) solid 8px;
  border-radius: 70px 0px 70px 0px;
  border-style: inset ;
}

.logo a{text-decoration: none;
        font-size: 40px;
        color:rgb(34, 109, 179);
        font-weight: bold;
      }


.title{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title h1{  
  color: white;
  font-size: 70px;
  text-align: center;

}
.title h2{  
  color: white;
  font-size: 30px;
  text-align: center;

}

.education {
  position:absolute;
  top: 50%;
  left: 50%;
  text-align: left;
  transform: translate(-50%,-50%);
  color: white;
}

.education h1{
  font-size: 40px;
  }

.education h2{
    font-size: 30px;
  }

.expirience {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
  }

.expirience h1{
    font-size: 20px;
    }
  
.expirience h2{
      font-size: 30px;
}



.skills {
        position:absolute;
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 700px;
      }
.skills h1{
  font-size: 70px;
  color:#fff;
      }


.post {
    color: white;
    background-color: rgba(0,0,0,1);
    opacity: 0.7;
    border-radius: 10px;
    margin: 20px;
    padding: 20px 20px 20px;
      }
.post a{
        color: white;
    
          }


.contact {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
  }
.contact h1{
    font-size: 70px;
    }
.contact h2{
      font-size: 40px;
}

.contact a{
      text-decoration: none;
      color: white;
      font-size: 70px;
      padding: 5px 20px;
    }

.contact a:visited{
      text-decoration: none;
      color: white;
      font-size: 70px;
      padding: 5px 20px;
    }

.contact a:hover {

      text-decoration: none;
      color: #00a0dc;
      background-color: white;
      padding: 5px 20px;
      transition: 1s ease;
    
    }

.back {
      position:absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      text-align: left;
      transform: translate(-50%,-50%);
      color: white;
      background-color: rgba(0,0,0,1);
    }




.post a{
    text-align: center;
      text-decoration: none;
      color: white;
      font-size: 30px;
      padding: 5px 20px;
    }

.post a:visited{
      text-decoration: none;
      color: white;
      font-size: 30px;
      padding: 5px 20px;
    }

.post a:hover {

      text-decoration: none;
      color: black;
      background-color: white;
      padding: 5px 20px;
      transition: 1s ease;
    
    }

.pagination{

  color: white;
  margin: 0px 0px 0px 500px;
  font-weight:bold;

}
.pagination a {
      color: white;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .7s;
      border: 1px solid #ddd;
    }
    
.pagination a.active {
      background-color: blue;
      color: white;
      border: 1px solid #4CAF50;
    }
    
.pagination a:hover:not(.active) {background-color: white;color: #000;}

.detail {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  background-color: rgba(0,0,0,0.8);
  padding: 20px 20px 20px 20px ;
  border-radius: 20px;

}
.detail h1{font-size: 70px;}
.detail h2{font-size: 50px;}



