{% extends "base.html" %}
{% block content %}
<div class='education'>
<ul>
    <li><a href="{% url 'production:single_api_report' 2958 %}">Example simple report  API</a></li><br><br>
    <li><a href="{% url 'production:api_reports' %}">Example simple reports API</a></li><br><br>
    <li><a href="{% url 'production:single_api_report_json' 3000 %}">Example simple API JSON report </a></li><br><br>
    <li><a href="#">More will be soon </a></li><br><br>
</ul>
</div>
{% endblock %}
{% block title %} {{ data.name}} {% endblock %}
