{% load static %}
<!DOCTYPE html>
<html>
<head>
<link href="{% static "css/styleP.css" %}" rel="stylesheet">
<title>
{% block title %} {% endblock %}
</title>
</head>
<body>
    <header>
        <div class="logo">
               <a href="{%url "resume:home"%}">KZ resume</a>
        </div>
        <div class="main">
            <ul>
                <li {% if selected == 'Education' %}  class="active" {% endif %}><a href="{% url "resume:education" %}">Education</a></li>
                <li {% if selected == 'Expirience' %} class="active" {% endif %}><a href="{% url "resume:expirience" %}">Expirience</a></li>
                <li {% if selected == 'Skills' %}     class="active" {% endif %}><a href="{% url "resume:skills" %}">Skills and work</a></li>
                <li {% if selected == 'About_me' %}   class="active" {% endif %}><a href="{% url "resume:about_me" %}">About me</a></li>
                <li {% if selected == 'Back' %}       class="active" {% endif %}><a href="{% url "resume:back" %}">Back-end</a></li>
                <li {% if selected == 'Website' %}    class="active" {% endif %}><a href="{% url "resume:website" %}">Website</a></li>
                <li {% if selected == 'Contact' %}    class="active" {% endif %}><a href="{% url "resume:contact" %}">Contact</a></li>
                <li {% if selected == 'Api' %}    class="active" {% endif %}><a href="{% url "resume:api_list" %}">API</a></li>
                <li><a href="{% url "production:production" %}">Projects</a></li>
            </ul>
        </div>
        {% block content %} {% endblock %}
    </header>

</body>
</html>
