{% extends 'base.html' %}
{% block content %}
<div class="skills">
<h1 style="text-align: center;">Skills and work</h1>
<ul>
    <li><a href="/cv/skills/tag/automation/">Automation</a></li>
    <li><a href="/cv/skills/tag/cad/">&nbsp&nbspCAD&nbsp</a></li>
    <li><a href="/cv/skills/tag/django/">Django</a></li>
    <li><a href="/cv/skills/tag/english/">English</a></li>
    <li><a href="/cv/skills/tag/electric/">Electric</a></li>
    <li><a href="/cv/skills/tag/linux/">Linux</a></li>
    <li><a href="/cv/skills/tag/python/">Python</a></li>
    <li style="float:right"><a class="active" href="/cv/skills/">&nbspAll&nbsp</a></li>
  </ul>
<br>
<br>

<br>
{% for post in posts %}
<div class="post">
<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
<br><br>
{{ post.body|truncatewords:40|safe }}
</div>

{% endfor %}
<div style="align-items: center;">
{% include "pagination.html" with page=posts %}
</div>

{% endblock %}

{% block title %} Skills {% endblock %}